<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h2>New User:</h2>
<form th:action=new th:method="POST" th:object="${user}">
    <label for="login">Login</label>
    <br>
    <input id="login" name="login" type="text" th:value="*{login}">
    <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Name error</div>
    <br>
    <label for="password">Password</label>
    <br>
    <input id="password" name="password" type="text" th:value="*{password}">
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>
    <br>
    <label for="email">Email</label>
    <br>
    <input id="email" name="email" type="text" th:value="*{email}">
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
    <br>
    <br>
    <select multiple size="2" name="role">
        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
        <option selected="selected" value="ROLE_USER">ROLE_USER</option>
    </select>
    <input type="hidden" name="id" th:value="*{id}">
    <input type="submit" value="Save">
</form>
</body>
</html>